<!DOCTYPE html>
<html lang="ru" class="translated-ltr"><head><style>.jquery-ripples { position: relative; z-index: 0; }</style>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="stylesheet" href="static/libs/modal/modal.css">
	<link rel="stylesheet" href="static/css/style.css">
 
	<title>MOdel</title>
</head>

<body>
    <header class="header">
		<div class="container">
			<nav class="header__nav nav">
				<ul class="nav__list">
					<li class="nav__item"><a href="" class="nav__link">Каталог</a></li>
					<li class="nav__item"><a href="" class="nav__link">Акции</a></li>
					<li class="nav__item"><a href="" class="nav__link">Оплата и доставка</a></li>
					<li class="nav__item"><a href="" class="nav__link">Работа в компании</a></li>
					<li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
				</ul>
				<div class="header__cart cart" tabindex="0">
					<div class="cart__text">
						Корзина
						<span class="cart__quantity">0</span>
					</div>
					<div class="cart-content">
						<ul class="cart-content__list" data-simplebar>
						</ul>
						<div class="cart-content__bottom">
							<div class="cart-content__fullprice">
								<span>Итого:</span>
								<span class="fullprice">568 789 ₽</span>
							</div>
							<button class="cart-content__btn btn" data-graph-path="modal" data-graph-animation="fadeInUp">Перейти в корзину</button>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
<img src="https://ixbt.online/live/topics/preview/00/02/70/32/9849bde4b0.jpg">



</body>
</html>
